<mat-toolbar color="primary">
  <h1 class="mat-headline">
    {{ 'Xeniro DLT Dashboard' | translate }}
  </h1>
</mat-toolbar>



<iframe src="https://snapshot.raintank.io/dashboard-solo/snapshot/y7zwi2bZ7FcoTlB93WN7yWO4aMiz3pZb?from=1493369923321&to=1493377123321&panelId=4" width="1650" height="300" frameborder="0"></iframe>

<div>
  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" style="margin:10px;">
    <app-dashboard-chain-status fxFlex.gt-sm="50%"></app-dashboard-chain-status>
    <app-dashboard-price fxFlex.gt-sm="50%" [price]="eosQuote$ | async"></app-dashboard-price>
  </div>
  <div style="margin:10px;">
    <app-dashboard-blocks></app-dashboard-blocks>
  </div>
  <div style="margin:10px;">
    <app-dashboard-transactions></app-dashboard-transactions>
  </div>
</div>
